<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Editar Cliente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="editarCliente">
            <form th:action="@{/guardar}" th:object="${persona}" method="post" class="was-validated">
                <input type="hidden" name=" idPersona" th:field="*{idCliente}"/>
                <section th:replace="layout/botonesEditar :: botonesEditar"></section>
            </form>
            
        </section>
    </body>
</html>
