<!DOCTYPE html>

<!-- para manejar infromacion dinamica con thymeleaf se agrega al html  lo siguiente -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="layout/plantilla :: head">
        <title>Control  </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <header th:replace="layout/plantilla :: header"></header>
            
            <section th:replace="layout/botonesAgregar :: botonesAgregar"></section>
            <section th:replace="layout/listadoClientes :: listadoClientes"></section>
            <!--
            <section th:replace="layout/agregarCliente :: agregarCliente"></section>
            
           -->
            <footer th:replace="layout/plantilla ::footer"></footer>
            
            <!-- se agregar seguridad dependiendo en el usuario -->
            <a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="@{/agregar}">[[#{persona.crear}]]</a>
            <!-- tambien puede ser asi
            <a th:href="@{/agregar} " th:text="#{persona.crear}" ></a>
            -->
            <br>
            <!--<p th:text="${mensaje}"> </p> -->
            <!-- <p th:text="${saludo}"> </p> -->
            <br>
            <!-- if verificando que contenga algo la lista  -->
          
            <!-- if  de si la lista esta vacia -->
            
        </div>
    </body>

</html>
